.rightControlsContainer {
  bottom: 0;
  left: 0;
  overflow: auto;
  padding-top: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.parameterPanel {
  padding: 0 24px 24px;
}

.controlGrid {
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 100%;
}

.controlLabel {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.forSlider {
  margin-bottom: 0;
}
