.rightControlsContainer {
  overflow: auto;
  padding-top: 24px;
}

@media screen and (max-width: 649px) {
  .rightControlsContainer {
    overflow: auto;
    padding-top: 24px;
    width: 250px;
  }
}

.parameterPanel {
  padding: 0 24px 24px;
}

.controlGrid {
  grid-gap: 16px;
  display: grid;
  grid-template-columns: 100%;
}

.controlLabel {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.forSlider {
  margin-bottom: 0;
}
