.editorBody {
  flex: 1 1;
  overflow: auto;
}

.editorFooter {
  align-items: center;
  display: flex;
  margin-top: 1em;
  position: relative;
}

.completionsContainer {
  border: 1px solid var(--gray-300);
  border-radius: 3px;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  position: relative;
  transition: filter 0.3s, -webkit-filter 0.3s;
  width: 100%;
  height: 100%;

  /* these are both temporary */
  justify-content: center;
  text-align: center;
}

.footerLeft {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
}

.footerRight {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.footerRight > div {
  /* this will be toggled based on user preference later on */
  /* opacity: 0; */
  opacity: 1;
  align-items: center;
  background: #ececf1;
  border-radius: 12px;
  color: #565869;
  display: flex;
  font-variant: tabular-nums;
  padding: 3px 7px 3px;
  transition: opacity 0.3s;
}

.tokenCounter {
  line-height: 1.5;
}

.btnNormal {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-weight: 400;
  justify-content: center;
  position: relative;
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
  user-select: none;
}

.btnSmall {
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
}

.submitBtn {
  flex: 0 0 auto;
}

.btnPrimary.btnFilled {
  background-color: #10a37f;
}

.btnDisabled {
  cursor: default;
  pointer-events: none;
  background-color: #f7f7f8;
  border-color: transparent;
  color: #acacbe;
}

.footerLeft button:not(:first-child) {
  margin-left: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.extIcon {
  font-size: 1.4em;
  font-weight: 800;
  line-height: 1.6;
}

.btnMinimal {
  background-color: transparent;
  color: #353740;
}