.wrapper {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: calc(100% - var(--app-nav-height));
}

.container {
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
}

.header {
  grid-gap: 12px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto auto;
  border-bottom: 1px solid var(--gray-100);
  padding: 16px 24px;
}

@media screen and (max-width: 649px) {
  .header {
    grid-gap: 8px;
    display: grid;
    border-bottom: none;
    grid-template-columns: 100%;
    margin-bottom: 10px;
    padding: 1em 1em 0;
  }

  .editor {
    padding: 0 !important;
  }
}

.plgHeaderTitle {
  display: flex;
  align-items: center;
}

.plgHeaderActions h4 {
  font-size: 14px;
  line-height: 24px;
}

.plgPresetSelectContainer {
  display: inline-block;
  margin-bottom: 0;
  width: 300px;
}

.plgHeaderActions {
  display: flex;
  align-items: stretch;
  gap: 6px;
  max-height: 32px;
}

.body {
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  min-height: 0;
}

.editor {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  padding: 24px 0 24px 24px;
}

.rightControls {
  flex: 0 0 auto;
  width: 240px;
  position: relative;
  color: var(--gray-600);
  overflow: auto;
}
